/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
  --colorWhite: #ffff;
  --colorBlack: #231f20;
  --colorRed: #d52941;
  --colorOrange: #ff9f1c;
  --colorGreem: #80ab82;
  --fontSize-sm: 16px;
  --fontFamily: "Poppins", sans-serif;
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Outline */
  /* outline: 1px solid #0000ff; */
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-sm);
}

a {
  text-decoration: none;
}

/* SignIn Component */
div.container {
  width: 90%;
  margin: auto;
  text-align: center;
}
div.container h1 {
  text-align: center;
}

div.container .logo {
  text-align: center;
}

div.container h1 {
  font-size: 2.4rem;
}

div.container h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

div.container span {
  font-size: 0.8rem;
}

div.form {
  width: 75%;
}

.form-sign-in {
  margin-top: 2em;
}

div.container .form-sign-in,
span {
  display: flex;
  justify-content: center;
}

.input-field {
  padding: 15px 15px;
  border: none;
  background: #e0ebe0;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
}
.form-container-input-icon {
  position: relative;
}
.img-eye {
  position: absolute;
  right: 15px;
  top: 20px;
}

.button {
  background-color: #231f20;
  color: var(--colorWhite);
  padding: 15px 15px;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #d8c2c8;
  border: none;
}

/* SignUp Component */






/* TaskItem */
/* Estilo para tachar una tarea editada */
.clase1 {
  text-decoration: line-through;
}

.clase2 {
  text-decoration: none;
}

/* modal para eliminar tarea */
/* Overlay de la pantalla al abrir el modal */

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Para centrar del todo la ventana modal */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  border-radius: 15px;
  z-index: 2;
}
/* estilos para la vental modal */
.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

/* Home view */
.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

/* Account View */
.profile-img {
  width: 200px;
  border-radius: 50%;
}

.icon-img {
  width: 20px;
}
